html{
    box-sizing: border-box;
}

body{
    font-family: font3;
    height: 100vh;
    margin: 0;
}
*,*:before, *:after {
    box-sizing: inherit;
}
.container{
    height: inherit;
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr 1fr 1fr;
}
.sidebar{
    color:#ffffff;
    background: #0ec7f5;
}

.sidebar>h2{
    margin: 5%;
    font-size: 40px;
    position: relative;
}

.sidebar>h2>img{
    position: relative;
    top: 1rem;
    width: 58px; 
}
.sidebar>nav>ul{
    list-style: none;
    font-size:  20px;
    font-weight: 900;
}
.sidebar>nav>ul>li{
    margin: 20px;
}
.sidebar>nav>ul>li>img{
    width: 20px;
}
.body{
    grid-column-start: 2;
    grid-column-end: 6;
    display:grid;
    grid-template: 1fr/ 1fr;
}
.body-header{
    display: grid;
   grid-template: 1fr/1fr 1fr;
    margin: 1rem;
    
}

.body-content{
    display: grid;
    grid-template: 1fr /2fr 1fr ;
}
.projects{
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    
}

/*
.header-top{
    display: flex;
    justify-content: space-between;
}

.top1{
    display: flex;
    position: relative;
}

.top1>img{
    position: relative;
    bottom: 6px;
    height: 4rem;
    transform: rotateY(180deg);
}

.top1>input{
    border-radius: 20px;
    width: 15rem;
    height: 3rem;
    margin: 0 1rem;
}

.top2{
    position: relative;
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
}

.top2>img:nth-child(1){
    position: relative;
    top: 20px;
    height: 2rem;
    margin-top: 15px;
}

.top2>p{
    font-size: 2rem;
}

.name-div{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.name-left{
    display: flex;
    gap: 1rem;
}

.buttons{
    position: relative;
    top: 35px;
}

button{
    background: #0ec7f5;
    border: 0;
    border-radius: 2rem;
    height: 2.5rem;
    width: 5rem;
    color: #ffffff;
    margin: 10px;
}
 */




@font-face {
    font-family: font1;
    src: url(/assets/fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: font2;
    src: url(/assets/fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
    font-family: font3;
    src: url(/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: font4;
    src: url(/assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf)
}