html{
    box-sizing: border-box;
}

body{
    font-family: font3;
    margin: 0;
}
*,*:before, *:after {
    box-sizing: inherit;
}
.container{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr 1fr 1fr;
}
.sidebar{
    color:#ffffff;
    background: #0ec7f5;
}

.sidebar>h2{
    margin: 5%;
    font-size: 40px;
    position: relative;
}

.sidebar>h2>img{
    position: relative;
    top: 1rem;
    width: 58px; 
}
.sidebar>nav>ul{
    list-style: none;
    font-size:  20px;
    font-weight: 900;
}
.sidebar>nav>ul>li{
    margin: 20px;
}
.sidebar>nav>ul>li>img{
    width: 20px;
}
.body{
    grid-column-start: 2;
    grid-column-end: 6;
    display:grid;
    grid-template: 1fr/ 1fr;
}
.body-header{
   box-sizing: content-box;
   height: 15rem;
    display: grid;
   grid-template:1fr 1fr/1fr 1fr;
    margin: 1rem;
}

.top1{
    display: grid;
    grid-template: 1fr/12% 50%;
    position: relative;
    align-items: center;
    justify-items: center;
}

.top1>img{
    justify-self: right;
    height: 3.5rem;
    transform: rotateY(180deg);
    filter: drop-shadow(5px 5px 2px rgb(100, 98, 98));
}

.top1>input{
    border: #fefefe;
    background-color: rgb(221, 220, 220);
    border-radius: 1.3rem;
    filter: drop-shadow(5px 5px 2px rgb(100, 98, 98));
    width: 17rem;
    height: 2rem;
    margin: 0 1rem;
}

.top2{
    position: relative;
    display: flex;
    left: 45%;
}

.top2>img:nth-child(1){
    position: relative;
    top: 20px;
    height: 2rem;
    margin-top: 15px;
}

.top2>img:nth-child(2){
    height: 4rem;
    position: relative;
    top: 20px;
    filter: opacity(0.5);
}

.top2>p{
    filter:drop-shadow(5px 4px 3px );
    font-size: 2rem;
}

.name-left{
    font-size: 1.5rem;
    display: flex;
    margin: 10px;
}

.name-left>img{
    height: 4rem;
    align-self: center;
}

.buttons{
    justify-content: center;
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
}

button{
    filter:drop-shadow(5px 4px 3px gray);
    background: #0ec7f5;
    border: 0;
    border-radius: 2rem;
    height: 2.5rem;
    width: 5rem;
    color: #ffffff;
     margin: 10px;
     justify-self: center;
     align-self: center;
}

.body-content{
    display: grid;
    grid-template: 1fr /2fr 1fr ;
    background: rgb(221, 220, 220);
    padding:0 1rem ;
}


.projects{
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
   column-gap: 2rem;
   row-gap:2rem;
}
.projects>div>h5{
    margin: 0;
}
.projects>div{
    border-left: 1rem solid #ffd700;
    background-color: #ffffff;
    border-radius: 2rem;
    padding:1rem 2rem 0 1rem;
}
.announcement-container{
    padding: 2rem;
}
.announcements{
    padding: 1rem;
    background-color: #fefefe;
    border-radius: 2rem;
}
.announcements>.one{
    border-bottom: 0.1rem solid black;
}
.trends{
    padding: 1rem;
    background-color: #fefefe;
    border-radius: 2rem;
}
.trends>div{
    padding: 0.5rem;
}
.trends>div:nth-child(1),.trends>div:nth-child(2){
    border-bottom: 0.1rem solid black;
}


@font-face {
    font-family: font4;
    src: url(/assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf)
}